.wrapper {
  text-align: center;
  padding: 10px;
  .start-game {
    cursor: pointer;
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    &:hover
    {
        color: #ffffff !important;
        background: #ed3330;
        border-color: #ed3330 !important;
        transition: all 0.4s ease 0s;
    }
  }
}
